$env: 'dev';

//Paths
$img-path: if($env == 'dev', '../img/', './_Assets/');


// Colors
$black: #000;
$red: #ed1c24;
$yellow: #faba2d;
$white: #fff;
$blue: #c5e3ee;


// Calculated Colors


// Breakpoints
$small: 760px;
$medium: 1024px;
$large: 1160px;

