header {

  #nav {
    height: 45px;
    @include media-query('medium') {
      border: 1px solid grey;

      .row {
        overflow: hidden;
        // width: 1024px;
      }
    }

    @include media-query('large') {
      border: 0;
    }

  } 

  #user_prefs {
    @include media-query('medium') {
      li {
        float: right;
      }
    }

    @include media-query('large') {
      li {
        float: left;
      }
    }
  }

  #globalNavigation {
    @include media-query('medium') {
      width: 1400px
    }

    @include media-query('large') {
      width: auto;
    }
  }

  ul#mainNav {

    li {
        
        @include media-query('medium') {
          margin: 0.90909rem 1.36364rem 0 0.90909rem;
        }

        @include media-query('large') {
          margin: 3px;
        }

      a {
      
        @include media-query('medium') {
          font-size: 1.5rem !important;
        }

        @include media-query('large') {
          font-size: 1.4rem !important;
        }
      }
    }

  }

}

header #aboveNav {
  @include media-query-max('small') {
    padding: 0;
  }
}

.bloomiesLogo  {
  @include media-query-max('small') {
    margin-left: 3rem;
  }
}

.aboveNavRight {
  width: 100%;

  @include media-query-max('small') {
    border-top: 4px solid black;
  }

  @include media-query('medium') {
    width: auto;
  }

}


header .aboveNavSearch {
  width: 100%;

    @include media-query('medium') {
      width: auto;
    }
}






.hamburglar {
  border-right: 1px solid black;
  cursor: pointer;
  float: left;
  font-size: 2.4rem;
  height: 40px;
  padding: 2px 10px;
}

  .hamburglar.is-active {
    color: #ccc;
  }




#nav {
  box-shadow: 1px 1px 10px;
  float: left;
  left: -180px;
  position: absolute;
  top: 80px;
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  width: 167px;
}


  #nav.is-active {
    -webkit-transform: translate3d(180px, 0, 0);
    -ms-transform: translate3d(180px, 0, 0);
    -o-transform: translate3d(180px, 0, 0);
    transform: translate3d(180px, 0, 0);
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition: -o-transform .3s ease-out;
    transition: transform .3s ease-out;
  }


/*MEDIUM*/
@include media-query('medium') {
  #nav {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 0;
    height: 205px;
  }

    #nav,
    #nav.is-active {
      left: 0;
      position: relative;
      top: 0;
      width: 100%;
      -webkit-transform: translate3d(0, 0, 0);
      -ms-transform: translate3d(0, 0, 0);
      -o-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }     

}

#nav {
  z-index: 100;
  height: auto;
  background-color: #fff;
}

/*LARGE*/
@include media-query('large') {


}












