@-webkit-keyframes stack-in {
  from { right: 100%; }
  to { right: 0%; }
}
@-o-keyframes stack-in {
  from { right: 100%; }
  to { right: 0%; }
}
@-moz-keyframes stack-in {
  from { right: 100%; }
  to { right: 0%; }
}
@keyframes stack-in {
  from { right: 100%; }
  to { right: 0%; }
}


