.lookbook- {
 
  &wrapper {
    position: relative;

    &.is-active {
      overflow: hidden;
    }

    video {
      width: 100%;
    }
  }

  &caret {
    background-image: url('../img/nav-current-page.png');
    height: 14px;
    position: absolute;
    top: 30px;
    -webkit-transition: left .5s ease-out;
    transition: left .5s ease-out;
    width: 29px;
    z-index: 20;
  }

  .lookbook-nav-arrow {
    background-color: transparent;
    width: 3%;

    &.go-to-next {
      left: 95.15%;
    } 

    &.go-to-prev {
      left: 2%;
    }
  }


  &nav-arrow {
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    height: 8.5%;
    position: absolute;
    top: 50%;
    width: 2%; 
    z-index: 20;

    &.go-to-prev {
      background-image: url('../img/nav-prev.png');
      left: 0%;
    }

    &.go-to-next {
      background-image: url('../img/nav-next.png');
      left: 98%;
    }

    &.layout-vertical {

      &.go-to-prev,
      &.go-to-next {
        left: 50%;
        width: 8%;
      }
      
      &.go-to-prev {
        background-image: url('../img/nav-up.png');
        top: 8%;
      }

      &.go-to-next {
        background-image: url('../img/nav-down.png');
        top: 94%;
      }

    }

  }

  &pagination {
    background-color: rgba(255, 255, 255, .75);
    float: left;
    font-size: 1rem;
    height: 30px;
    margin-bottom: 10px;
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    width: 100%;
    z-index: 20;

    *[data-for-page-number] {
      cursor: pointer;
      display: inline-block;
      float: none;
      margin-right: 0;
      padding: 7px 14px;
    }
  }

  &page-wrapper {
    clear: both;
    overflow: hidden;
    z-index: 1;

    &.page-scroll {
      height: auto !important;
    }

    .slide-wrapper {
      transition: transform .5s ease-out;
    }
  }

  &page {
    float: left;

    &.current-page {
      z-index: 10;
    }

    &.is-sliding {
      z-index: 25;
    }
    
  }

  &page-caption {
    left: 45%;
    position: absolute;
    top: 50%;
    width: 15%;

    @media only screen and (max-width: 40.063em) {
      background-color: #efefef;
      bottom: 0;
      font-size: 1.2em;
      height: auto;
      left: 0;
      top: auto;
      width: 100%;
    }

  }

  &sticky {
    position: fixed;
    top: 0;
  }

}
