.lookbook- {
  
  &wrapper {
    position: relative;

    &.is-active {
      overflow: hidden;
    }

    video {
      width: 100%;
    }
  }

  &nav-arrow {
    background-color: #fff;
    cursor: pointer;
    height: 6.5%;
    position: absolute;
    top: 50%;
    width: 2%; 
    z-index: 20;

    &.go-to-prev {
      left: 0%;
    }

    &.go-to-next {
      left: 98%;
    }

    &.layout-vertical {

      &.go-to-prev,
      &.go-to-next {
        left: 50%;
      }
      
      &.go-to-prev {
        top: 0%;
      }

      &.go-to-next {
        top: 98%;
      }

    }

  }

  &pagination {
    background-color: #fff;
    font-size: 1.5em;
    position: absolute;
    right: 0%;
    width: 10%;
    z-index: 10;

    li {
      cursor: pointer;
      float: left;
      margin-right: 10%;
    }
  }

  &page-wrapper {
    clear: both;
    z-index: 1;
  }

  &page {
    float: left;

    &.transition-fade {
      opacity: 0;
      transition: opacity .5s ease;
    }

    &.transition-fade-in {
      opacity: 1;
    }

    &.current-page {
      z-index: 10;
    }

    &.is-sliding {
      z-index: 25;
    }
    
  }

}
