.test-1 {

  .lookbook-nav-arrow {
    width: 3%;

    &.go-to-next {
      left: 97.15%;
    } 
  }

  .lookbook-title {
    float: left;
    width: 173px;
  }

  .lookbook-pagination {
    float: left;
    font-size: 1rem;
    margin-bottom: 10px;
    position: relative;
    width: auto;
    z-index: auto;

    li {
      margin-right: 0;
      padding: 7px 14px;

      &.current-page {
        border: 1px solid $black;
      }
    }

  }
  



  .shop-menu {
    background-color: $white;
    cursor: pointer;
    height: 1.5rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 10px;
    width: 145px;
    z-index: 20;

    &.is-active {
      height: auto;

      span {
        background-image: url('../img/test1/close.png');
      }
    }
  }

  .shop-heading {
    font-size: 1.1rem;
    text-transform: uppercase;

    span {
      background-image: url('../img/test1/hamburger.png');
      height: 14px;
      position: absolute;
      right: 0;
      top: 0;
      width: 14px;
    }
  }

  .shop-cat {
    height: 1.5rem;
    overflow: hidden;

    &.is-active {
      font-weight: bold;
      height: auto;
    }
  }

  .lookbook-page {

    .page-caption {
      left: 0;
      line-height: 1.9rem;
      position: absolute;
      top: 0;

      @media only screen and (max-width: 40.063em) {
        left: auto !important;
        position: relative;
        top: auto !important;
        width: 100% !important;
      }
    }

    &[data-page-number="1"] {

      .page-caption {
        background-color: rgba(255, 255, 255, .49);
        padding: 22px 24px;
        width: 222px;  
      }

      .lorem1 {
        left: 79px;
        top: 266px;
      }

      .lorem2 {
        left: 79px;
        top: 351px;
      }
    }

    &[data-page-number="2"] {

      .lorem1 {
        background-color: $white;
        left: 397px;
        padding: 27px 0 27px 27px;
        top: 289px;
        width: 95px;
      }

      .lorem2 {
        left: 55px;
        top: 512px;
      }
    }

    &[data-page-number="3"] {

      .page-caption {
        background-color: rgba(255, 255, 255, .49);
        padding: 22px 24px;
        width: 222px;  
      }

      .lorem1 {
        left: 715px;
        top: 322px;
      }

      .lorem2 {
        left: 715px;
        top: 407px;
      }
    }

    &[data-page-number="4"] {

      .lorem1 {
        left: 55px;
        top: 512px;
      }

      .lorem2 {
        background-color: #f7f7f7;
        left: 5px;
        padding: 22px 25px 24px 0;
        top: 39px;
        width: 116px;
      }

    }

  }

  .lookbook-social-media {
    background-color: $black;
    margin-top: 40px;
    padding: 5px 0;
    text-align: center;

    img {
      margin-right: 20px;
    }
  }

}
